@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:wght@400;500;600&display=swap');

:root{
    --background-color:#3B82F6;
    --secondary-color:#EEF2FF;
}

hr{
    max-width: 80px;
    margin: auto;
    border-width: 1px;
}
.heading .heading-content{
    font-family: 'Playfair Display','sans-serif';
    font-weight: 600;
    font-size: 2rem;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background-color:var(--background-color);
    border: 1px solid var(--background-color);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
}

.heading-image{
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    display: block;
}

/* Content of the page */

.content .content-heading{
    font-family: 'Playfair Display','sans-serif';
    font-size:1.5rem;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    display: block;
}

.content .content-para{
    font-family: 'Playfair Display','sans-serif';
    max-width: 900px;
    margin: auto;
    display: block;
    padding: 1rem;
    text-align: center;
    word-spacing:1px;
    letter-spacing:0.5px;
}

/* Input field of the page */
.input-field{
    max-width: 600px;
    margin: auto;
    display: block;
    padding: 2rem;
    width: 80%;
    border: 1px solid var(--background-color);
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
}

/* button */
.btn{
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--background-color);
    border-radius: 1rem;
    background-color: var(--secondary-color);
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--background-color);
}

/* output-field of the page */
.output-field{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--background-color);
    border-radius: 1rem;
}

.output-content{
    font-family: 'Playfair Display','sans-serif';
    max-width: 900px;
    margin: auto;
    display: block;
    padding: 1rem;
    text-align: center;
    word-spacing:1px;
    letter-spacing:0.5px;
}
